@import '../../assets/styles/components.scss';

.topbar {
  background-color: $color-red-default;
  height: $size-default * 5;
  color: $color-light-default;
  // FLEXBOX CONFIG
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  width: 100%;
  z-index: 100;

  .header {
    font-size: $size-font-title;
    font-weight: bold;
    cursor: pointer;
  }
}