<template>
  <div class="topbar">
    <div class="header" @click=onClick>
      {{ label }}
    </div>
  </div>
</template>

<script>
// import './main.js';

export default {
  name: 'topbar',
  props: {
    label: {
      type: String,
      required: false,
      default: "Header",
    },
    onClick: {
      type: Function,
      required: false,
    }
  },
}
</script>

<style lang="scss">
@import './style.scss';
</style>
