<template>
  <div id="app">
    <!-- <Topbar :onClick=helloHeader /> -->
    <Button label="Button" :onClick="helloHeader" sizeh="10" sizev="10"/>
  </div>
</template>

<script>
import Topbar from './components/Topbar/Topbar.vue';
import Button from './components/Button/Button.vue';

export default {
  name: 'app',
  components: {
    Topbar: Topbar,
    Button: Button,
  },
  methods: {
    helloHeader: function() {
      alert("Hello, header.");
    }
  }
}
</script>

<style>
@import './style.scss';
</style>
