<template>
  <div class="button" :style=setStyle @click=onClick>
    {{ label }}
  </div>
</template>

<script>
export default {
  name: 'button',
  props: {
    label: {
      type: String,
      required: false,
      default: "Press Here",
    },
    onClick: {
      type: Function,
      required: false,
    },
    marginh: {
      type: Number,
      required: false,
      default: 10,
    },
    marginv: {
      type: Number,
      required: false,
      default: 10,
    },
    sizeh: {
      type: Number,
      required: false,
      default: 10,
    },
    sizev: {
      type: Number,
      required: false,
      default: 10,
    },
    width: {
      type: Number,
      required: false,
      default: 60,
    }
  },
  computed: {
    setStyle: function() {
      return {
        marginRight: this.marginh + "px",
        marginLeft: this.marginh + "px",
        marginTop: this.marginv + "px",
        marginBottom: this.marginv + "px",
        paddingRight: this.sizeh + "px",
        paddingLeft: this.sizeh + "px",
        paddingTop: this.sizev + "px",
        paddingBottom: this.sizev + "px",
        width: this.width + "px",
      }
    }
  }
}
</script>

<style lang="scss">
@import './style.scss';
</style>
