@import '../../assets/styles/components.scss';

.button {
  border-radius: 5px;
  border: 1px solid $color-dark-default;
  // border-right: 1px solid $color-dark-default;
  // border-bottom: 1px solid $color-dark-default;
  // FLEXBOX CONFIG
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color-light-default;
}