@import '../../style.scss';

.box {
  border-radius: 8px;
  // background-color: #000;
  background-color: $color-light;
  // flex config
  display: flex;
  justify-content: center; // works based on main-axis
  align-items: center; // works based on cross axis

  .box-content {
    // border: 1px dotted $color-dark;
    // flex config
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
  }
}