<template>
  <div class="box" :style=setStyle>
    <div class="box-content">
      <span class="content"> {{ label }} </span>
    </div>
  </div>
</template>

<script>
export default {
  name: 'box',
  props: {
    color: {
      type: String,
      required: false,
      default: "light"
    },
    label: {
      type: String,
      required: false,
      default: "Light"
    },
    width: {
      type: Number,
      required: false,
      default: 100
    },
    height: {
      type: Number,
      required: false,
      default: 100
    }
  },
  computed: {
    setStyle: function() {
      return {
        width: this.width + "px",
        height: this.height + "px"
      }
    }
  }
}
</script>

<style lang="scss">
@import './Box.scss';
</style>

