
// BASICS
$color-dark-default: #23272B;
$color-light-default: #E2E6EA;
$color-gray-default: #5A6268;

// FUNDAMENTALS
$color-red-default: #C82333;
$color-green-default: #218838;
$color-blue-default: #0069D9;
$color-yellow-default: #E0A800;

// OTHERS
$color-blue-light: #138496;