<template>
  <div class="app">
    <Box width="100" height="100" label="#0069D9"/>
    <Box width="100" height="100" label="#DC3545"/>
    <Box width="100" height="100" label="#218838"/>
    <Box width="100" height="100" label="#E0A800"/>
    <Box width="100" height="100" label="#E2E6EA"/>
    <Box width="100" height="100" label="#343A40"/>
  </div>
</template>

<script>
import Box from './components/Box/Box.vue';
export default {
  name: 'app',
  components: {
    Box: Box,
  }
}
</script>

<style lang="scss">
@import './style.scss';
</style>
