@import './assets/sass/colors.scss';
@import './assets/sass/sizes.scss';
// @import './assets/sass/components.scss';

.app {
  margin: 1em 1em;
  // flexbox config
  display: flex;
  justify-content: space-around;
}